@import "tailwindcss";

@theme {
    --color-prim-col: #274540 ;
    --color-teal: #0f1f1d;
    --color-golden: #D4A017;
    --color-hover-red: #E34301;


}


.desktop-links{
    @apply transition-all duration-300 hover:text-prim-col hover:underline underline-offset-8
}

.mobile-links{
    @apply transition-all duration-300 hover:text-prim-col hover:underline underline-offset-8
}


/* 
@theme {
    --color-Dark-blue: #0f172a;
    --color-Blue-shade: #152032;
    --color-Light-blue: #3b82f6;
    --color-Purple-p: #a755f7;
    --color-Green-c: #27c45b;
    --color-light-gray: #1e293b;
    --color-lighter-gray:#324154;
    */
